
body{
	background: url(gradient.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: white;
}
html{
	height: 100%;
}
.contain1 {
	padding-right: 5px;
	padding-left: 5px;
}
h1{
	font-weight: 700;
	font-size: 5em;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.right{
	margin-left: auto;
	margin-right:0px;
}
.popup{
	color:black;
}
p{
	border: 1px solid white;
	padding: 20px; 
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: 'Source Sans Pro', sans-serif;
}
/*iframe{
	text-align: center;
}*/
.ending{
	border: 0px solid white;
	
	max-width: 700px;
	width: 60%;
	margin: 20px auto;
	font-family: 'Source Sans Pro', sans-serif;
}
.progress-bar{
	border: 1px solid white;
	
}
.color{
	color: black;
}
.topp{
	padding-top: 20px;
}
.btn{
	font-size: 20px;
}
.bordering{
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-left: 9px;
	text-align: center;
}
#content {
	text-align: center;
	padding-top: 30%;
	color: white;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}
a { 
	color: white;
	 }
.image{
	background-color: white;
	 height: 20%;
    width: 20%;
}
hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-primary{
	margin: 0 auto;
}

.btn-primary:hover{
	cursor: pointer;
	
}
#mc_embed_signup{
	color: black;
}
p{
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
	font-family: 'Lato', sans-serif;
}